<!-- <%- include('partials/header') -%>
<section>

  <% for(var i=0; i<pods.length; i++) {%> 
    <li class="col-6 justify-content-between mt-5">
      <a href="/pod/<%= pods[i]._id%>">
        <img class="img-fluid" src="<%= pods[i].image%>">
      </a>
    </li>
    <% } %> 
<ul class="row list-unstyled">
    <% for(var i=0; i<pods.length; i++) {%> 
      <li class="col-6 justify-content-between mt-5">
        <a href="/pod/<%= pods[i]._id%>">
          <img class="img-fluid" src="<%= pods[i].image%>">
        </a>
      </li>
    <% } %>
</ul>
</section>

<section class="submitPost basic">
    <h2>Create a Pod</h2>
    <form action="/post/createPod" enctype="multipart/form-data" method="POST">
      <div class="">
          <label for="podName" class="form-label">Pod Name:</label>
          <input type="text" class="formInput" id="podName" name="podName">
      </div>
      <div class="">
        <label for="description" class="form-label">Description:</label>
        <textarea class="form-control" id="podDescription" name="podDescription"></textarea>
      </div>
      <div class="">
        <label for="imgUpload" class="form-label">Media:</label>
        <input type="file" class="formInput" id="imageUpload" name="file">
      </div>
      <div class="buttonCenter">
      <button type="submit" class="btn" value="Upload">Submit</button>
      </div>
    </form>
</section>

<div class="">
  <a class="btn" href="/profile">Return to Profile</a>
  <a class="btn" href="/feed">Return to Feed</a>
</div>

<%- include('partials/footer') -%>  -->