<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Feed Folks</title>
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/imgs/peasInPods.png"
    />
    <link href="https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/output.css" >
    <link rel="stylesheet" href="/css/style.css"/>
  </head>
  <body>
    <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
      <meta name="description" content="" />
      <meta name="author" content="" />
      <title>Feed Folks</title>
      <!-- Favicon-->
      <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
      <!-- Font Awesome icons (free version)-->
      <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
      <!-- Google fonts-->
      <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
      <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
      <!-- Core theme CSS (includes Bootstrap)-->
      <link href="/css/style.css" rel="stylesheet" />
  </head>
    <!-- Navigation-->
    <header>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
      <div class="container">
          <a class="navbar-brand" href="/"><img src="/imgs/feedFolksLogo.png" alt="Feed Folks Logo with peas in a pod." /></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
              Menu
              <i class="fas fa-bars ms-1"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
              <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                  <li class="nav-item"><a class="nav-link" href="/#services">Services</a></li>
                  <li class="nav-item"><a class="nav-link" href="/#about">About</a></li>
                  <li class="nav-item"><a class="nav-link" href="/#signUp">Sign Up / Login</a></li>
                  <li class="nav-item"><a class="nav-link" href="/feed">Harvest</a></li>
                  <li class="nav-item"><a class="nav-link" href="/#contact">Contact</a></li>
              </ul>
          </div>
      </div>
  </nav>
  </header>
  </body>
</html>


<section class="divide">
<section class="half">
  <section class="basic userInfo">
      <p><strong>User Name</strong>: <%= user.userName %></p>
      <p><strong>Email</strong>: <%= user.email %></p>
      <div class="buttonCenter">
      <a href="/logout" class="btn">Logout</a>
      </div>
  </section>

  <section class="submitPost basic">
    <h2>Add a post</h2>
    <form action="/post/createPost" enctype="multipart/form-data" method="POST">
      <div class="">
          <label for="title" class="form-label">Title:</label>
          <input type="text" class="formInput" id="title" name="title">
      </div>
      <div class="">
        <label for="caption" class="form-label">Caption:</label>
        <textarea class="form-control" id="caption" name="caption"></textarea>
      </div>
      <div class="">
        <label for="imgUpload" class="form-label">Media:</label>
        <input type="file" class="formInput" id="imageUpload" name="file">
      </div>
      <div class="buttonCenter">
      <button type="submit" class="btn" value="Upload">Submit</button>
      </div>
    </form>
  </section>
</section>

<section class="half">
  <section class="profilePosts">
    <ul class="">
    <% for(var i=0; i<posts.length; i++) {%>
      <li class="col-6 justify-content-between mt-5">
        <a href="/post/<%= posts[i]._id%>">
          <img class="" src="<%= posts[i].image%>">
        </a>
      </li>
    <% } %>
    </ul>
    <div class="buttonCenter">
      <a class="btn" href="/feed">Return to Harvest</a>
    </div>  
  </section> 
</section> 
</section>
<%- include('partials/footer') -%>